<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">附件管理</li>
        <li><a href="javascript:;" class="a_menu" id="test">上传压缩文件</a></li>
      </ul>
    </div> 
    <form class="layui-form serch" action="{:url('admin/attachment/index')}" method="post">
        <div class="layui-form-item" style="float: left;">
          <div class="layui-input-inline">
            <input type="text" name="keywords" lay-verify="title" autocomplete="off" placeholder="请输入关键词" class="layui-input layui-btn-sm">
          </div>
          <div class="layui-input-inline">
            <div class="layui-inline">
                <select name="status" lay-search="">
                  <option value="">状态</option>
                  <option value="0">待审核</option>
                  <option value="1">已审核</option>
                  <option value="-1">已拒绝</option>
                </select>
            </div>
          </div>
          <div class="layui-input-inline">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="create_time" placeholder="上传时间" name="create_time">
              </div>
            </div>
          </div>
          <button class="layui-btn layui-btn-danger layui-btn-sm" lay-submit="" lay-filter="serch">立即提交</button>
        </div>
      </form>
    <table class="layui-table" lay-size="sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>预览</th>
          <th>模块</th>
          <th>用途</th>
          <th>路径+名称</th>
          <th>大小</th>
          <th>格式</th>
          <th>上传id</th>
          <th>上传IP</th>
          <th>上传时间</th>
          <th>状态</th>
          <th>审核者</th>
          <th>审核时间</th>
          <th>已下载</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="attachment" id="vo"}
        <tr>
          <td>{$vo.id}</td>
          <td>{if condition="$vo.fileext eq 'zip'"}<i class="fa fa-file"></i>{else /}<a href="{$vo.filepath}" class="tooltip"><img src="{$vo.filepath}" width="20" height="20"></a>{/if}</td>
          <td>{$vo.module}</td>
          <td>{$vo.use}</td>
          <td>{$vo.filepath}</td>
          <td>{$vo.filesize/1024|round=###,2}KB</td>
          <td>{$vo.fileext}</td>
          <td>{$vo.user_id}</td>
          <td>{$vo.uploadip}</td>
          <td>{$vo.create_time}</td>
          <td>{if condition="$vo.status eq 0"}<span class="layui-badge layui-bg-orange">待审核</span>{elseif condition="$vo.status eq 1"}<span class="layui-badge">已审核</span>{else /}<span class="layui-badge layui-bg-gray">已拒绝</span>{/if}</td>
          <td>{$vo.admin.nickname}</td>
          <td>{$vo.audit_time|date="Y-m-d",###}</td>
          <td>{$vo.download}</td>
          <td class="operation-menu">
            <div class="layui-btn-group">
              <a class="layui-btn layui-btn-xs open layui-btn-primary" data-id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="fa {if condition="$vo.status eq 1"}fa-toggle-on{else/}fa-toggle-off{/if}"></i></a>
              <a class="layui-btn layui-btn-xs download layui-btn-primary" data-id="{$vo.id}" id="download{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="fa fa-download"></i></a>
              <button class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></button>
            </div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div style="padding:0 20px;">{$attachment->render()}</div>
            
    {include file="public/foot"}
    <script type="text/javascript">

    $('.delete').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要删除?', function(index) {
        $.ajax({
          url:"{:url('admin/attachment/delete')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })


    $('.download').on('click',function(event){
        var data_id = $(this).attr('data-id');
        var id = $(this).attr('id');
        var download = document.getElementById(id);
        $.ajax({
          url:"{:url('admin/attachment/download')}",
          data:{id:data_id},
          async:false,
          success:function(res) {
            console.log('res:'+res.code);
            if(res.code == 1) {
              download.setAttribute('href',res.data);
              download.setAttribute('download',res.name);
              // download.click();
              i++;
            } else {
              layer.msg(res.msg);
            }
          }
        }) 
    })
    </script>
    <script type="text/javascript">
      layui.use('layer', function(){
        var layer = layui.layer;
        $('.open').click(function(){
          var id = $(this).attr('data-id');
          layer.msg('文件审核',{
            time:20000
            ,btn: ['仁慈通过', '残忍拒绝', '再想想']
            ,yes: function(index, layero){
              $.ajax({
                url:"{:url('admin/attachment/audit')}"
                ,type:'post'
                ,data:{id:id,status:'1'}
                ,success:function(res){
                  layer.msg(res.msg);
                  if(res.code == 1){
                    setTimeout(function(){
                      location.href = res.url;
                    },1500)
                  }
                }
              })
            }
            ,btn2: function(index, layero){
              $.ajax({
                url:"{:url('admin/attachment/audit')}"
                ,type:'post'
                ,data:{id:id,status:'-1'}
                ,success:function(res){
                  layer.msg(res.msg);
                  if(res.code == 1){
                    setTimeout(function(){
                      location.href = res.url;
                    },1500)
                  }
                }
              })
            }
          })
        })
      });              
    </script>

    <script>
    layui.use('upload', function(){
      var $ = layui.jquery
      ,upload = layui.upload;
      
      //指定允许上传的文件类型
      upload.render({
        elem: '#test'
        ,url: "{:url('admin/attachment/upload')}"
        ,accept: 'file' //普通文件
        ,exts: 'zip|rar|7z' //只允许上传压缩文件
        ,done: function(res){
          layer.msg(res.msg);
          if(res.code == 1) {
            setTimeout(function(){
              location.href = res.url;
            },1500)
          }
        }
      }); 
    });
    </script>
  </div>
</body>
</html>
