<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body>
<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;border:0"> 
<div class="layui-btn-group demoTable">
    <a href="{:url('admin/urlsconfig/publish')}" class="layui-btn layui-btn-sm a_menu">新增美化</a>
</div>
</fieldset>
<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
  <colgroup>
    <col width="50">
    <col width="150">
    <col width="100">
    <col width="350">
    <col width="150">
    <col width="100">
    <col width="100">
  </colgroup>
  <thead>
    <tr>
      <th>编号</th>
      <th>美化前</th>
      <th>美化后</th>
      <th>备注</th>
      <th>创建时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    {volist name="urlconfig" id="vo"}
    <tr>
      <td>{$vo.id}</td>
      <td>{$vo.url}</td>
      <td>{$vo.aliases}</td>
      <td>{$vo.desc}</td>
      <td>{$vo.create_time}</td>
      <td>{if condition="$vo.status eq 1"}<span class="layui-badge">启用</span>{else /}<span class="layui-badge layui-bg-gray">禁用</span>{/if}</td>
      <td class="operation-menu">
        <a class="layui-btn layui-btn-xs a_menu" href="{:url('admin/urlsconfig/publish',['id'=>$vo.id])}" style="margin-right: 0;font-size:12px;">修改</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger status" {if condition="$vo.status eq 1"}data-id="0"{else /}data-id="1"{/if} id="{$vo.id}" style="margin-right: 0;font-size:12px;" >{if condition="$vo.status eq 1"}禁用{else /}启用{/if}</a>
        <a class="layui-btn layui-btn-xs delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;">删除</a>
      </td>
    </tr>
    {/volist}
  </tbody>
</table>
<div style="padding:0 20px;">{$urlconfig->render()}</div>
        
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script>
        var message;
        layui.config({
            base: '__JS__/',
            version: '1.0.1'
        }).use(['app', 'message'], function() {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //将message设置为全局以便子页面调用
            message = layui.message;
            //主入口
            app.set({
                type: 'iframe'
            }).init();
        });
    </script> 
<script type="text/javascript">

$('.delete').click(function(){
  var id = $(this).attr('id');
  layer.confirm('确定要删除?', function(index) {
    $.ajax({
      url:"{:url('admin/urlsconfig/delete')}",
      data:{id:id},
      success:function(res) {
        layer.msg(res.msg);
        if(res.code == 1) {
          setTimeout(function(){
            location.href = res.url;
          },1500)
        }
      }
    })
  })
})

</script>

<script type="text/javascript">
layui.use('layer', function(){
  var layer = layui.layer;
  $('.a_menu').click(function(){
    var url = $(this).attr('href');
    var a = 0;
    $.ajax({
      url:url
      ,async:false
      ,success:function(res){
        if(res.code == 0) {
          layer.msg(res.msg);
          a = 1;
        }
      }
    })
    if(a === 0) {
      layer.open({
        type:2,
        content:[url, 'no'],
        area: ['600px', '400px'],
        end:function(){
          location.reload();
        }
      });
    }
    return false;
  })
  

  $('.status').click(function(){
    var id = $(this).attr('id');
    var status = $(this).attr('data-id');
    layer.confirm('确定要设置?', function(index) {
      $.ajax({
        url:"{:url('admin/urlsconfig/status')}",
        type:'post',
        data:{id:id,status:status},
        success:function(res) {
          layer.msg(res.msg);
          if(res.code == 1) {
            setTimeout(function(){
              location.href = res.url;
            },1500)
          }
        }
      })
    })
  }) 

}); 
</script>
</body>
</html>
