<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div style="margin-top: 20px;">
</div>
<form class="layui-form" id="admin">
  
  <div class="layui-form-item">
    <label class="layui-form-label">上级菜单</label>
    <div class="layui-input-inline">
      <select name="pid" lay-filter="aihao">
        <option value="0">作为顶级菜单</option>
        {volist name="$menus" id="vo"}
        <option value="{$vo.id}" {notempty name="$menu.pid"}{eq name="$menu.pid" value="$vo.id"} selected=""{/eq}{else /}{notempty name="$pid"}{eq name="$pid" value="$vo.id"} selected=""{/eq}{/notempty}{/notempty}>{$vo.str}{$vo.name}</option>
        {/volist}
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">名称</label>
    <div class="layui-input-inline">
      <input name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.name"}value="{$menu.name}"{/notempty}>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">模块名</label>
    <div class="layui-input-inline">
      <input name="module" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.module"}value="{$menu.module}"{/notempty}>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">控制器名</label>
    <div class="layui-input-inline">
      <input name="controller" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.controller"}value="{$menu.controller}"{/notempty}>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">方法名</label>
    <div class="layui-input-inline">
      <input name="function" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.function"}value="{$menu.function}"{/notempty}>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">参数</label>
    <div class="layui-input-inline">
      <input name="parameter" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.parameter"}value="{$menu.parameter}"{/notempty}>
    </div>
    <div class="layui-form-mid layui-word-aux">请用'&'隔开，例如：name=tingyu&id=10</div>
  </div>

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block" style="max-width:600px;">
      <textarea placeholder="请输入内容" class="layui-textarea" name="description">{notempty name="$menu.description"}{$menu.description}{/notempty}</textarea>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">图标</label>
    <div class="layui-input-inline">
      <input name="icon" placeholder="请输入" autocomplete="off" class="layui-input" type="text" {notempty name="$menu.icon"}value="{$menu.icon}"{/notempty}>
    </div>
    <div class="layui-form-mid layui-word-aux">例如：fa-asterisk</div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-inline">
      <select name="is_display" lay-filter="aihao">
        <option value="1" {notempty name="$menu.is_display"}{eq name="$menu.is_display" value="1"} selected=""{/eq}{/notempty}>显示在左侧菜单</option>
        <option value="2" {notempty name="$menu.is_display"}{eq name="$menu.is_display" value="2"} selected=""{/eq}{/notempty}>只做为操作节点</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-inline">
      <select name="type" lay-filter="aihao">
        <option value="1" {notempty name="$menu.type"}{eq name="$menu.type" value="1"} selected=""{/eq}{/notempty}>权限节点</option>
        <option value="2" {notempty name="$menu.type"}{eq name="$menu.type" value="2"} selected=""{/eq}{/notempty}>普通节点</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">默认展开</label>
    <div class="layui-input-block">
        <div class="layui-input-inline">
          <input type="checkbox" name="is_open" lay-skin="switch" lay-text="ON|OFF" value="1" {notempty name="$menu.is_open"}{eq name="$menu.is_open" value="1"}checked=""{/eq}{/notempty}>
        </div>
        <div class="layui-form-mid layui-word-aux">仅对顶级菜单有效</div>
    </div>
  </div>
  
  {notempty name="$menu"}
  <input type="hidden" name="id" value="{$menu.id}">
  {/notempty}
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
  
</form>


<script src="__PUBLIC__/layui/layui.js"></script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script>
    var message;
    layui.config({
        base: '__JS__/',
        version: '1.0.1'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    });
</script>
<script>
  layui.use(['layer', 'form'], function() {
      var layer = layui.layer,
          $ = layui.jquery,
          form = layui.form;
      $(window).on('load', function() {
          form.on('submit(admin)', function(data) {
              $.ajax({
                  url:"{:url('admin/menu/publish')}",
                  data:$('#admin').serialize(),
                  type:'post',
                  async: false,
                  success:function(res) {
                      if(res.code == 1) {
                          layer.alert(res.msg, function(index){
                            location.href = res.url;
                          })
                      } else {
                          layer.msg(res.msg);
                      }
                  }
              })
              return false;
          });
      });
  });
</script>
</body>
</html>